@model Zlatka.Models.Category

@{
    ViewBag.Title = "Изменение категории";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Изменить категорию</h2>

@using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "form_error" })
        <div class="form_group">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "form_error" })
        </div>
        <div class="form_group">
            @Html.LabelFor(model => model.Url)
            @Html.EditorFor(model => model.Url)
        </div>
        <div class="form_group">
            @Html.LabelFor(model => model.Image)
            <img src="../../content/images/@Model.Image" alt="old image" />
            <input type="hidden" value="@Model.Image" id="oldImage" name="oldImage" />
            <input type="file" id="Image" name="Image" />
        </div>
        <div class="form_group">
                <input type="submit" value="Сохранить" />
        </div>
    </div>
}
