<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic|Russo+One&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admin.css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header class="header">
        <a class="logo" href="/" title="На главную">Zlatka</a>
    </header>
    <div class="main-menu-wrapper">
        <nav class="main-menu">
            <a class="main-menu_link" href="">Страницы</a>
            <a class="main-menu_link" href="">Статьи</a>
            <a class="main-menu_link" href=""></a>
            <a class="main-menu_link" href=""></a>
        </nav>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Zlatka.CMS</p>
    </footer>
</body>
</html>
