<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic|Russo+One&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admin.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/Scripts/admin.js")
</head>
<body>
    <header class="header">
        <a class="logo" href="/" title="На главную">Zlatka</a>
    </header>
    <div class="main-menu-wrapper">
        <nav class="main-menu">
            @Html.ActionLink("Страницы", "Pages", null, new { @class = "main-menu_link" })
            @Html.ActionLink("Статьи", "Articles", null, new  {@class = "main-menu_link"})
            @Html.ActionLink("Категории", "Categories", null, new { @class = "main-menu_link" })
            @Html.ActionLink("Пользователи", "Users", null, new { @class = "main-menu_link" })
        </nav>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Zlatka.CMS</p>
    </footer>
</body>
</html>
