@model Zlatka.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form form__center", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title.</h2>
    <h4>Enter your email.</h4>
    @Html.ValidationSummary("", new { @class = "form_error" })
    <div class="form_group">
        @Html.LabelFor(m => m.Email, new { @class = "form_label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
    </div>
    <div class="form_group">
        <input type="submit" class="form_button" value="Email Link" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
