@model Zlatka.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form form__center", role = "form" }))
{
    <h2>@ViewBag.Title.</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "form_error" })
    <div class="form_group">
        @Html.LabelFor(m => m.Email, new { @class = "form_label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
    </div>
    <div class="form_group">
        @Html.LabelFor(m => m.Password, new { @class = "form_label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form_input" })
    </div>
    <div class="form_group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form_label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form_input" })
    </div>
    <div class="form_group">
        <input type="submit" class="form_button" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
